[Unit]
Description=uWSGI instance to serve groestlnodes
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/groestl-nodes
Environment=FLASK_ENV=test
ExecStart=/usr/local/bin/uwsgi --ini /groestl-nodes/flask.ini

[Install]
WantedBy=multi-user.target
