{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Groestl Nodes</h3>
                <h4>Purpose</h4>
                <p>
                    Groestl Nodes aims to map out and compare the status of mainnet and testnet networks. Despite
                    the fact that these networks share the same protocol, there currently exists no easy way to directly
                    compare these coins in a single location. These statistics are essential to evaluate the relative health of each
                    network.
                </p>

                <h4>Overview</h4>
                <p>
                    Groestl Nodes maps out the network by recursively connecting to nodes and issuing <i>getaddr</i>
                    commands. Any connected nodes that have been online in the past 24 hours are then added to the
                    crawl. Only nodes which are configured to allow remote connections and accept the handshake from the
                    crawler are included in the presented dataset. Nodes with a version number below the minimum are
                    also excluded. All nodes are designated as "Active" or "Inactive" based on the last reported block
                    height. If the node's block height is more than an hour out of consensus with the network median
                    then it is flagged as inactive.
                </p>

                <h5>The following constants are used for the handshake:</h5>
                <ul>
                    <li><b>Groestlcoin:</b>
                        <ul>
                            <li><i>Magic number:</i> f9beb4d4</li>
                            <li><i>Protocol version:</i> 70015</li>
                            <li><i>Minimum version:</i> 70002</li>
                        </ul>
                    </li>
                    <li><b>Testnet:</b>
                        <ul>
                            <li><i>Magic number:</i> 0b110907</li>
                            <li><i>Protocol version:</i> 70015</li>
                            <li><i>Minimum version:</i> 70002</li>
                        </ul>
                    </li>
                </ul>

                Some user agents are excluded from the result set based on the following regular expressions:
                <ul>
                    <li>/BitCoinJ.*?</li>
                </ul>
            </div>
        </div>

    </div>

    {% include 'footer.html' %}
{% endblock %}
